/* This file is provided for addition of custom CSS styles */

@font-face {
  font-family: 'Merriweather';
  src:  url('../fonts/Merriweather/Merriweather-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src:  url('../fonts/Merriweather/Merriweather-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src:  url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src:  url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  background: #d9e8f6;
  color: #000c;
}

.toolbar__wrapper,
.main-footer {
  background-color: #1a4480;
  color: #d9e8f6;
}

.main-footer a:visited {
  color: #a4a4a4;
}

.main-footer a:hover {
  color: #a4a4a4;
}

.main-footer a {
  color: #e8f6f9;
}

.demo-banner {
  background-color: #ffbc78;
  color: #332d29;
}

.demo-banner a,
.demo-banner a:visited {
  color: #171717;
}

.button {
  display: block;
  margin-left: 0;
}

.button--add-child {
  background-color: #005ea2;
  color: white;
  border: none;
  box-shadow: none;
}

.button--add-child:hover {
  color: #fff;
  background-color: #1a4480;
  border-bottom: 0;
  text-decoration: none;
}

.button--add-child:focus {
  outline: 0.25rem solid #2491ff;
  outline-offset: 0;
}

.button--no-children {
  border-color: #005ea2;
  color: #005ea2;
  box-shadow: none;
}

.button--no-children:focus {
  outline: 0.25rem solid #2491ff;
  outline-offset: 0;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.button--no-children:hover {
  color: #fff;
  background-color: #1a4480;
  border-bottom: 0;
  text-decoration: none;
}

.date-input-label {
  display:inline-block;
  margin-right:20px;
}

.form-card__content {
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 2.06rem;
}

.content-card {
  padding: 1.8rem;
}

.content-card--teal {
  background-color: #e8f6f9;
}

.content-card--grey {
  background-color: #f0f0f0;
}

a, .button--link {
  color: #005ea2;
}

.button--primary {
  background-color: #005ea2;
  box-shadow: none;
  border: none;
}

a:hover, .button--link:hover {
  color: #1a4480;
}

a:visited, .button--link:visited {
  color: #54278f;
}

.form-width-without-card {
  max-width: 55rem;
  margin-left: 0;
  margin-right: auto;
}

.reveal a {
  display: flex;
}

.reveal svg {
  align-self: center;
  display: flex;
  margin-right: 10px;
}

.accordion {
  border: none;
  border-radius: 0em;
  background-color: #f0f0f0;
}
/* Taken from USWDS */
.usa-card__heading {
  font-family: Merriweather, Georgia, Cambria, Times New Roman, Times, serif;
  font-size: 4.5rem;
  line-height: 1.2;
  margin: 0;
}

/* Taken from USWDS */
.usa-card__heading--h2 {
  font-size: 3.5rem;
}

.usa-list {
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.5;
  padding-left: 3ch;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

