<!DOCTYPE html>
<html lang="en">
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{basic-info.title})}"></head>
<body>
<div class="page-wrapper">
  <th:block th:replace="~{fragments/toolbar :: toolbar}"/>
  <main id="content" role="main" class="form-card spacing-above-15">
    <div class="form-card__content">
      <p th:utext="#{general.step1}"></p>
      <div class="spacing-below-25 usa-card__heading">
        <h1 class="usa-card__heading">
          <th:block th:text="#{basic-info.header}"/>
        </h1>
      </div>
      <th:block
          th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
        <th:block th:ref="formContent">
          <div class="form-card__content">
            <th:block th:replace="~{fragments/inputs/radioFieldset ::
                                radioFieldset(inputName='firstTimeApplying',
                                label=#{basic-info.apply-radio-label},
                                fieldsetHelpText=#{basic-info.apply-question},
                                content=~{::firstTimeApplyingOptions})}">
              <th:block th:ref="firstTimeApplyingOptions">
                <th:block
                    th:replace="~{fragments/inputs/radio :: radio(inputName='firstTimeApplying',value='Yes', label=#{basic-info.apply-option-yes})}"/>
                <th:block
                    th:replace="~{fragments/inputs/radio :: radio(inputName='firstTimeApplying',value='No', label=#{basic-info.apply-option-no})}"/>
              </th:block>
            </th:block>

            <th:block th:replace="~{fragments/inputs/text ::
                    text(inputName='firstName',
                    label=#{basic-info.first-name-label})}"
                      th:utext="#{basic-info.first-name-label}"/>

            <th:block th:replace="~{fragments/inputs/text ::
                    text(inputName='middleName',
                    label=#{basic-info.middle-name-label})}"
                      th:utext="#{basic-info.middle-name-label}"/>

            <th:block th:replace="~{fragments/inputs/text ::
                    text(inputName='lastName',
                    label=#{basic-info.last-name-label})}"/>

            <th:block th:replace="~{fragments/inputs/date ::
                    date(inputName='dateofBirth',
                    label=#{basic-info.date-of-birth-label})}"/>
          </div>
          <div class="form-card__footer">
            <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                    text=#{basic-info.next-button-text})}"/>

          </div>
        </th:block>
      </th:block>
    </div>

  </main>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
