<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{children-no-care.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <div th:replace="fragments/goBack :: goBackLink"></div>
  <main id="content" role="main" class="spacing-above-15">
    <p th:utext="#{children-no-care.step}"></p>
    <h1 th:text="#{children-no-care.header}"></h1>
    <p th:text="#{children-no-care.description}"></p>
    <th:block th:replace="'fragments/form' :: form(action=${formAction}, content=~{::empty-contents})">
      <th:block th:ref="empty-contents">
        <div class="form-card__content">
          <th:block th:replace="'fragments/inputs/radioFieldset' ::
                        radioFieldset(inputName='childrenNotNeedingCare',
                        label='',
                        ariaLabel='children not needing care',
                        content=~{::childrenNotNeedingCareOptions})">
                        <th:block th:ref="childrenNotNeedingCareOptions">
                          <!-- Copy the below input if you want to add more -->
                          <th:block
                              th:replace="'fragments/inputs/radio' :: radio(inputName='childrenNotNeedingCare',value='Yes', label=#{general.option-yes})"/>
                          <th:block
                              th:replace="'fragments/inputs/radio' :: radio(inputName='childrenNotNeedingCare',value='No', label=#{general.option-no})"/>
                        </th:block>
                      </th:block>
          <th:block th:replace="'fragments/inputs/number' ::
            number(inputName='numChildrenNotNeedingCare',
            label=#{children-no-care.count})" />

        </div>
        <div class="form-card__footer">
          <th:block th:replace="fragments/inputs/submitButton :: submitButton(
                    text=#{basic-info.next-button-text})" />

        </div>
      </th:block>
    </th:block>
  </main>
</div>
<th:block th:replace="fragments/footer :: footer" />
</body>
</html>