<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{household-list.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-15">
        <p th:utext="#{general.step2}"></p>
        <div class="spacing-below-25 usa-card__heading">
          <h1 class="usa-card__heading">
            <th:block th:text="#{review-children.header}"/>
          </h1>
        </div>

        <p th:text="#{review-children.description}"></p>
        <div class="content-card content-card--grey">
            <ul class="subflow-list no-bullets">
              <th:block th:if="${inputData.containsKey('children')}">
                <li th:each="child, iter: ${inputData.children}"
                    class="spacing-below-15">
                              <span class="space-between">
                                <span>
                                  <span
                                      th:text="${child.childFirstName}" style="font-weight:bold"></span>
                                  <span th:text="${child.childLastName}" style="font-weight:bold"></span>
                                </span>
                                <span class="text--small spacing-below-0">
                                  <a th:href="'/flow' + '/childcare/' + ${iterationStartScreen} + '/' + ${child.uuid} + '/edit'"
                                     th:text='Edit'
                                     th:id="'edit-iteration-' + ${child.uuid}"
                                     class="subflow-edit"></a>
                                  <a th:href="'/flow' + '/childcare/children/' + ${child.uuid} + '/deleteConfirmation'"
                                     th:text='Remove'
                                     class="subflow-delete"
                                     th:id="'delete-iteration-' + ${child.uuid}"></a>
                                </span>
                              </span>
                  <span class="space-between">
                      <span>
                        <span
                            th:text="${child.childDateofBirthMonth} + '/' + ${child.childDateofBirthDay} + '/' + ${child.childDateofBirthYear}" ></span>
                      </span>
                  </span>
                  <span class="space-between">
                      <span>
                        <span
                            th:text="${child.childRelationship}" ></span>
                      </span>
                  </span>

                </li>
              </th:block>
            </ul>
          </div>
        <div class="spacing-above-35">
        <a th:href="'/flow' + '/' + ${flow} + '/addChild'" class="button button--no-children"
           th:text="#{review-children.add-another-child}"></a>
        </div>
        <div class="form-card__footer">
          <th:block
              th:replace="~{fragments/continueButton :: continue(text=#{review-children.finish-children})}"/>
        </div>
      </main>
    </div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
