<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{upload-documentation.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35" style="max-width: 66ex;">
        <p th:utext="#{general.step3}"></p>
        <div class="spacing-below-25 usa-card__heading">
          <h1 class="usa-card__heading">
            <th:block th:text="#{upload-documentation.header}"/>
          </h1>
        </div>
        <p th:text="#{upload-documentation.description}"></p>
          <th:block th:replace="'fragments/form' :: form(action=${formAction}, content=~{::uploadDocumentation})">
            <th:block th:ref="uploadDocumentation">
              <div class="form-card__content">
                
                <th:block th:replace="fragments/fileUploader :: fileUploader(inputName='uploadDocuments')"></th:block>
                
                
              </div>
            <div class="form-card__footer">
              <th:block th:replace="fragments/inputs/submitButton :: submitButton(
                    text=#{basic-info.next-button-text})" />
              
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer" />
</body>
</html>
