<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{index.title})"></head>
<body class="template--static-page">
<div class="page-wrapper">
  <th:block th:replace="fragments/toolbar :: toolbar"/>
  <main id="content" role="main">
    <section class="slab slab--white">
      <div class="grid">
        <h1 class="usa-card__heading spacing-below-35">
          <th:block th:text="#{index.title}"/>
        </h1>
        <p th:text="#{index.intro}"></p>

        <h2 class="h3" th:text="#{index.qualify-title}"></h2>
        <ol class="list--numbered">
          <li th:text="#{index.qualification.li1}"></li>
          <li th:text="#{index.qualification.li2}"></li>
          <li th:text="#{index.qualification.li3}"></li>
        </ol>

        <p th:utext="#{index.requirements-exception}"></p>
        <a href="#" target="_blank" th:text="#{index.requirements-link}"> </a>

        <h2 class="h3" th:text="#{index.gather-info.title}"></h2>

        <div class="content-card content-card--teal">
          <div class="card-body">
            <p th:text="#{index.to-apply}"></p>
            <ul class="list--bulleted">
              <li th:utext="#{index.to-apply.li1}"></li>
              <li th:utext="#{index.to-apply.li2}"></li>
            </ul>
          </div>

        </div>
        <hr>

        <h2 class="h3" th:text="#{index.apply-header}"></h2>
        <p th:text="#{index.apply-description}"></p>
        <div class="spacing-above-35">
          <a href="/flow/childcare/basicInfo" th:text="#{index.apply-button}"
             class="button--primary button" style="max-width: max-content;"></a>
        </div>
        <hr>

        <h2 class="h3" th:text="#{index.how-long-header}"></h2>
        <p th:text="#{index.how-long-description}"></p>

        <div class="content-card content-card--grey">
          <div class="card-body">
            <h2 class="h3" th:text="#{index.time-estimate}"></h2>
            <p th:utext="#{index.time-estimate-description}"></p>
          </div>
        </div>

        <hr>
        <p th:text="#{index.not-ready}"></p>
        <ul class="list--bulleted">
          <a href="#">
            <li th:text="#{index.benefit-programs.li1}"></li>
          </a>
          <a href="#">
            <li th:text="#{index.benefit-programs.li2}"></li>
          </a>
          <a href="#">
            <li th:text="#{index.benefit-programs.li3}"></li>
          </a>
          <a href="#">
            <li th:text="#{index.benefit-programs.li4}"></li>
          </a>
          <a href="#">
            <li th:text="#{index.benefit-programs.li5}"></li>
          </a>
        </ul>

        <br>
        <p th:text="#{index.more-about}"></p>

        <div class="accordion">
          <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a1"
                  th:text="#{index.accordion1}"></button>
          <div class="accordion__content" id="a1">
            <p th:text="#{index.accordian1.expanded}"></p>
          </div>
        </div>

        <div class="accordion">
          <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a2"
                  th:text="#{index.accordion2}"></button>
          <div class="accordion__content" id="a2">
            <ul class="list--bulleted">
              <li th:text="#{index.accordian2.expanded.li1}"></li>
              <li th:text="#{index.accordian2.expanded.li2}"></li>
              <li th:text="#{index.accordian2.expanded.li3}"></li>
            </ul>
          </div>
        </div>

        <div class="accordion">
          <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a3"
                  th:text="#{index.accordion3}"></button>
          <div class="accordion__content" id="a3">
            <p th:text="#{index.accordian3.expanded}"></p>
          </div>
        </div>

        <div class="accordion">
          <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a4"
                  th:text="#{index.accordion4}"></button>
          <div class="accordion__content" id="a4">
            <p th:text="#{index.accordian4.expanded}"></p>
          </div>
        </div>

        <div class="accordion">
          <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a5"
                  th:text="#{index.accordion5}"></button>
          <div class="accordion__content" id="a5">
            <p th:text="#{index.accordian5.expanded}"></p>
          </div>
        </div>

        <div class="accordion">
          <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a6"
                  th:text="#{index.accordion6}"></button>
          <div class="accordion__content" id="a6">
            <p th:text="#{index.accordian6.expanded}"></p>
          </div>
        </div>

        <div class="accordion">
          <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a8"
                  th:text="#{index.accordion8}"></button>
          <div class="accordion__content" id="a8">
            <p th:text="#{index.accordian8.expanded}"></p>
          </div>
        </div>

        <div class="accordion">
          <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a9"
                  th:text="#{index.accordion9}"></button>
          <div class="accordion__content" id="a9">
            <p th:text="#{index.accordian9.expanded}"></p>
          </div>
        </div>

        <div class="accordion">
          <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a10"
                  th:text="#{index.accordion10}"></button>
          <div class="accordion__content" id="a10">
            <p th:text="#{index.accordian10.expanded}"></p>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
