<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{index.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
              <div class="form-card__content">
                <p th:text="#{index.intro}"></p>

                <h2 class="h3" th:text="#{index.qualify-title}"></h2>
                <ul class="list--bulleted padding-left-25">
                  <li th:text="#{index.qualification.li1}"></li>
                  <li th:text="#{index.qualification.li2}"></li>
                  <li th:text="#{index.qualification.li3}"></li>
                </ul>

                <p th:text="#{index.requirements-exception}"></p>
                <a href="requirements" target="_blank"> View all requirements </a>

                <h2 class="h3" th:text="#{index.gather-info.title}"></h2>

                <div class="card" style="background-color: #e8f6f9">
                  <p th:text="#{index.to-apply}"></p>
                  <ul class="list--bulleted padding-left-25">
                    <li th:text="#{index.to-apply.li1}"></li>
                    <li th:text="#{index.to-apply.li2}"></li>
                  </ul>

                </div>
                <div class="spacing-above-35">
                  <a href="/childcare/basicInfo" th:text="#{index.apply-now}"
                     class="button--primary button"></a>
                </div>



              </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer" />
</body>
</html>
